// Palette principale
$primary-color: #ff6060;
$secondary-color: #f6f6f6;
$tertiary-color: #000000;
$background-color: #ffffff;

// Couleurs de texte
$text-color-primary: #ff6060;
$text-color-secondary: #000000;
$text-color-tertiary: #ffffff;

// Texte

@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

$primary-font: 'Montserrat';