@use "./variables" as v;

.page404-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: v.$primary-font;

  .page404-code,
  .page404-message {
    color: v.$text-color-primary;
  }

  .page404-code {
    font-size: 12.5rem;
    font-weight: bold;
    margin: 0;
  }

  .page404-message {
    font-size: 1.5rem;
    padding: 50px 0;
  }

  .page404-link {
    padding-bottom: 100px;
    font-size: 1.25rem;
    color: v.$text-color-secondary;
    text-decoration: underline;
  }
}