@use "../../styles/variables" as v;

.title-location h1 {
  font-size: 1.5rem;
  font-weight: 500;
  color: v.$text-color-primary;
  margin: 0;
}

.title-location p {
  font-size: 1.125rem;
  color: v.$text-color-secondary;
}

.title-location p,
h1 {
  font-family: v.$primary-font;
}

@media (max-width: 768px) {
  .title-location h1 {
    font-size: 1.25rem;
  }

  .title-location p {
    font-size: 1rem;
  }
}
