@use "../../styles/variables" as v;

.banner {
  position: relative;
  height: 223px;
  border: 1px 0px 0px 0px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px 0px #00000040;
  margin: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

  .banner_image {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
    object-fit: cover;
  }

  h1 {
    position: relative;
    z-index: 2;
    color: v.$text-color-tertiary;
    font-family: v.$primary-font;
    font-size: 2.188rem;
  }
}

.bannerHome,
.bannerAbout {
  background-size: cover;
  background-position: center;
}