@use "../../styles/variables" as v;

.accordion {
  width: 80%;
  margin: 0 auto 20px;

  &.open {
    .accordion__icon {
        transform: rotate(270deg);
    }
  }
}

.accordion__header {
  background-color: v.$primary_color;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  cursor: pointer;

  h3 {
    margin: 0;
    font-size: 18px;
  }
}

.accordion__icon {
  font-size: 22px;
  transform: rotate(90deg);
  transition: transform 0.3s ease;
}

.accordion__content {
  background-color: v.$secondary_color;
  padding: 10px;
  border-radius: 0 0 5px 5px;
  color: v.$text-color-secondary;
  transition: all 0.3s ease;
}
