@use "../../styles/variables" as v;

.about-accordions {
  margin-bottom: 30px;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 15px;
}

.accordion {
  width: 80%;
  margin: 0 auto 20px;

  &.open {
    .accordion__icon {
        transform: rotate(270deg);
    }
  }
}

.accordion-header {
  background-color: v.$primary_color;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 15px 20px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  cursor: pointer;

  h3 {
    margin: 0;
    font-size: 18px;
  }
}

.accordion-icon {
  font-size: 22px;
  transform: rotate(270deg);
  transition: transform 0.3s ease;
}

.rotate {
    transform: rotate(90deg);
  }

.accordion-content {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transform: translateY(-4px);
  transition:
    max-height 0.4s ease,
    opacity 0.15s ease,
    transform 0.2s ease;
}

.accordion-content.open {
  max-height: 500px;
  opacity: 1;
  transform: translateY(0);
  
  background-color: v.$secondary_color;
  color: v.$text-color-secondary;
  padding: 10px;
  border-radius: 0 0 5px 5px;
}

@media (max-width: 768px) {
  .about-accordions {
    width: 90%;
  }

  .accordion {
    margin: 15px auto;
    width: 100%;
    gap: 15px;
    margin: 0;

    .accordion-header {
      font-size: 0.875rem;
      height: 45px;
      padding: 0 15px;
      margin: 8px auto;
    }

    .accordion-icon {
      font-size: 1.125rem;
    }

    .accordion-content {
      padding: 5px 0 5px 20px;
      font-size: 0.813rem;
    }
  }
}
